.git
.vs
NoteWindow.Domain/bin/Debug/
NoteWindow.Domain/obj/
NoteWindow.Services/bin/Debug/
NoteWindow.Services/obj/
NoteWindow.ViewModel/bin/Debug/
NoteWindow.ViewModel/obj/
NoteWindow/bin/Debug/
NoteWindow/obj/